/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 100%/1.25 "Nunito";
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/*components*/
.wrapper {
  max-width: 960px;
  margin-inline: auto;
  padding: 0.5rem;
}

/*extra-info*/
.extra-info--bg {
  background: #122ab2;
  color: #fff;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.extra-info__number:hover {
  color: #b8bfe8;
}

/*menu*/
