/*css reset + root */
:root {
  --offset: 3.75em;
  --title-offset: 1.25em;
  --font: "Nunito";
  font: 100%/1.25 var(--font);
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
}

input,
button {
  font: inherit;
}

/*components*/
.wrapper {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.title {
  font-size: 3rem;
  line-height: 1;
}

.title--md {
  font-size: 2.25rem;
}

.title--color-gray {
  color: #a4a4a4;
}

.title--bg-gray {
  background: #f7f7f7;
}

.button {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  text-align: center;
  outline: none;
}

.button--border-black {
  border: 4px solid #222;
}

.button--border-black:hover {
  background: #ccc;
}

.button--border-black:focus {
  border-color: #122ab2;
}

.button--border-blue:focus {
  border-color: #000;
}

.button--border-blue {
  border: 2px solid #2c70ff;
}

.button--bg-blue {
  background: #2c70ff;
}

.button--color-white {
  color: #fff;
}

/*extra-info*/
.extra-info--bg {
  background: #122ab2;
  color: #fff;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

.extra-info__number:hover {
  color: #b8bfe8;
}

/*menu*/
.header--bg {
  background: #2c70ff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #fff;
  padding-block: 1rem;
  container: header / inline-size;
}

.header__logo {
  font-size: 2.25rem;
  font-weight: 700;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu-item {
  display: block;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  border-bottom: 3px solid transparent;
}

.header__menu-item:hover {
  border-color: #fff;
}

.header__mobile {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.header__mobile--disabled {
  display: none;
}

.header__mobile-line {
  width: 100%;
  height: 4px;
  background: #fff;
}

@container header (max-width: 600px) {
  .header__nav--disabled {
    display: none;
  }
  .header__mobile--active {
    display: flex;
  }
}

/*introduction title*/
.introduction-title {
  padding-block: var(--title-offset);
}

/*sobre*/
.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  padding-block: var(--offset);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sobre > :first-child {
  flex: 2 1 300px;
}

.sobre > * + * {
  flex: 1 1 160px;
}

.sobre__info > * + * {
  margin-top: 1em;
}

.sobre__info-text {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

/*produtos*/
.produtos {
  padding-block: var(--offset);
}

.produtos__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block-start: var(--offset);
}

.produtos__item > .title {
  padding: var(--title-offset);
}

.produtos__item {
  flex: 1;
  align-self: flex-end;
}

.produtos__item--border-blue {
  border-top: 8px solid #66e9eb;
}

.produtos__item--border-pink {
  border-top: 8px solid #f9265e;
}

.produtos__item--border-purple {
  border-top: 8px solid #ae81ff;
}

.produtos__img {
  flex: 1;
  object-fit: cover;
}

/*Preço*/
.preco--bg {
  background: #f7f7f7;
}

.preco {
  container: preco / inline-size;
}

.preco__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
  padding: var(--offset);
}

.preco__item {
  flex: 1;
  border: 4px solid #fff;
  padding: 2.5rem;
}

.preco__item > .title {
  text-align: center;
}

.preco__item > * + * {
  margin-top: 0.5em;
}

.preco__currency {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-block: 0.25em;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.preco__currency--mod {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.preco__advantages-list {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
  font-style: italic;
}

.preco__advantages-list > * + * {
  margin-top: 0.5em;
}

.preco__advantages-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.preco__advantages-item::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #122ab2;
  border-radius: 50%;
}

@container (max-width: 800px) {
  .preco__list {
    padding-inline: calc(var(--offset) / 2);
  }

  .preco__item:last-child {
    order: -2;
  }

  .preco__item:nth-child(2) {
    order: -1;
  }
}

/*qualidade*/
.qualidade {
  padding-block: var(--offset);
}

.qualidade__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.qualidade__item {
  flex: 1 1 300px;
}

.qualidade__item > * + * {
  margin-top: 1em;
}

.qualidade__item .title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.qualidade__item .title::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 36px;
  margin-right: 4px;
}

.qualidade__item:nth-child(3n + 1) .title::before {
  background: #f9265e;
}

.qualidade__item:nth-child(3n + 2) .title::before {
  background: #ae81ff;
}

.qualidade__item:nth-child(3n + 3) .title::before {
  background: #66e9eb;
}

.qualidade__text {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

/*newsletter*/
.newsletter--bg {
  background: #f7f7f7;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: var(--offset);
}

.newsletter__info {
  flex: 1 1 260px;
}

.newsletter__info > * + * {
  margin-top: 1em;
}

.newsletter__info-text {
  font-size: 1.25rem;
  line-height: 1.4;
  font-style: italic;
  color: #a4a4a4;
  max-width: 240px;
}

.newsletter__form {
  flex: 2 1 260px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.newsletter__form-input {
  flex: 3 1 200px;
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  border: 2px solid #2c70ff;
}

.newsletter__form-input:focus {
  outline: none;
  border-color: #000;
}

.newsletter__form-input::placeholder {
  font-size: 1rem;
  font-style: italic;
}

.newsletter .button {
  flex: 1 1 200px;
}

.footer--bg {
  background: #2c70ff;
}

.footer {
  padding-block: var(--offset);
}

.footer__text {
  color: #122ab2;
  font-size: 2.25rem;
  text-align: center;
}
