/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: 100%/1.25 "Nunito";
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/*components*/
.wrapper {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.title {
  font-size: 3rem;
  line-height: 1;
}

.title--lg,
.title--md {
  padding-block: 1.25em;
}

/*extra-info*/
.extra-info--bg {
  background: #122ab2;
  color: #fff;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.extra-info__number:hover {
  color: #b8bfe8;
}

/*menu*/
.header--bg {
  background: #2c70ff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  color: #fff;
  container: header / inline-size;
}

.header__logo {
  font-size: 2.25rem;
  font-weight: 700;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu-item {
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
}

.header__menu-item:hover {
  border-color: #fff;
}

.header__mobile {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.header__mobile--disabled {
  display: none;
}

.header__mobile-line {
  width: 100%;
  height: 4px;
  background: #fff;
}

@container header (max-width: 600px) {
  .header__nav--disabled {
    display: none;
  }
  .header__mobile--active {
    display: flex;
  }
}

/*sobre*/
.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  padding-block: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sobre > :first-child {
  flex: 2 1 300px;
}

.sobre > * + * {
  flex: 1 1 160px;
}

.sobre__info > * + * {
  margin-top: 1em;
}

.sobre__info-text {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}
